.resetPassword__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  margin-right: 48px;
}

.resetPassword_title {
  color: #fff;
  font-family: 'Montserrat Alternates';
  font-size: 30px;
  font-weight: 300;
}

.resetPassword__form_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  width: 120%;
}

.form__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.form__item_input {
  background-color: #202020;
  outline: none;
  border: 0;
  border-radius: 20px;
  height: 36px;
  padding: 0 20px;
  font-size: 16px;
  color: #fff;
}

.form__item_label {
  color: #fff;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 8px;
}

.resetPassword__form_wrapper button {
  outline: none;
  border: 0;
  border-radius: 6px;
  background-color: #202020;
  color: #fff;
  padding: 12px 24px;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 300;
  margin: auto;
  margin-top: 32px;
  cursor: pointer;
  transition: all .3s;
}

.resetPassword__form_wrapper button:hover {
  background-color: #131313;
}