
.favorites__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 18vh;
  padding-bottom: 10vh;
}

.favorites__cards_box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  min-height: 600px;
  width: 78vw;
  margin: auto;
  margin-bottom: 64px;
}

.favorite__product_card {
  position: relative;
  width: calc(100%/3 - 1%);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 0 0.5%;
  margin-bottom: 3vh;
  transition: all 0.3s;
  animation: card_reRender_anim 0.75s ease;
}

@media (max-width: 1279px) {
  .favorite__product_card {
    width: 40%;
  }
}

@media (max-width: 720px) {
  .favorite__product_card {
    width: 45%;
  }

  .favorites__cards_box {
    width: 94%;
    margin: 0;
  }

}